body {
    background-image: url("./images/hyperion.jpg");
}
  
#app {
    padding: 50px;
    width: 60%;
    margin: 20px auto;
}

#app .honkai {
    display: flex;
    flex-wrap: wrap;
}
  
#app .honkai .card {
    width: 25%;
    height: 175px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 15px;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

#app .honkai .card div {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.6s;
}

#app .honkai .card .front {
    font-size: 50px;
    line-height: 120px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app .honkai .card .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

#app .honkai .card.opened {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

#app .honkai .card.matched .back {
    opacity: .4;
}

